{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 70,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": true,
        "semi": true,
        "trailingComma": "all"
      }
    }
  ]
}
